/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}
h1{font-size: 80px;}
p{font-size: 16px;line-height: 1.5;}
h2{font-size: 50px;}

@mixin flexcenter {display: flex;align-items: center;justify-content: center;}
@mixin flexcolumn {display: flex;flex-direction: column;align-items: center;justify-content: center;}

$colorblack :rgba(0, 0, 0, 0.925);
$colorred:red;
$colorwhite :white;
$colorgrey:rgb(153, 151, 151);
$thin: 'Lato-xthin';
$x-thin:  'Lato-thin';
$reg: 'Lato-regular';
$bold: 'Lato-bold';
$xbold: 'lato-xbold';

body{font-family: $thin;}
// navbar
nav{height: 10vh;
	>div{ @include flexcenter();justify-content: space-between;margin: 15px 30px;
		>div:first-child{
			img{height: 60px;}
		}
		>div:last-child{
			a{color: $colorblack;margin: 0 15px;
				&:hover{color:$colorred;text-decoration: none;}
			}
		}
	}
}
// end navbar

// billboard
.billboard{height: 45vh;position: relative;
	>div{position: absolute;top: 50%;left: 40%;transform: translate(-30%, -50%);text-align: center;
		h1{margin-bottom: 15px;}
	}
}
// end	billboard 
//   premium
.premium{position: absolute;top: 15%;left: 91%;position: fixed;z-index: 10;}

// gallery
.gallery{
	>div{display: flex;flex-wrap: wrap;align-items: center;justify-content: center;
		.gallery-inner-one{position: relative; height: 270px; width: 280px;
		img{height: 100%; width: 100%;}
		.over-lay{width: 100%; position: absolute; top: 100%;bottom: 0; left: 0;right: 0; color: #fff; background: black; opacity: 0; display: flex; flex-direction: column; justify-content: center; transition: .5s ease all;
		h1{font-size: 20px;}
		}
		
		}
		.gallery-inner-one:hover .over-lay{opacity: .7; transition: .5s ease all;top: 0;}

	 img{height: 270px;width: 280px;}}
}
// end gallery

// footer
footer{background: $colorblack;margin: 0 20px;text-align: center;
	>div{@include flexcolumn();padding: 30px;
		.icons{
			a{color: $colorgrey;font-size: 20px;margin: 15px;
			&:hover{text-decoration: none;color: $colorred;}}}

		.address{display: flex;color: $colorgrey;margin: 30px;
			h5{color: $colorwhite;font-size: 20px;margin: 10px;}
			p{line-height: 1.5;}
		   .detail{margin: 0 120px;}}	
			
		.copyright{color:$colorgrey ;line-height: 1.3;margin: 30px }}
	}


// about
.container{
	.row{
		>div{
			>div{margin-bottom: 15px; overflow: hidden;height: 100%;width:100%;transition: all 1.5s ease;
				h5{font-size: 25px;font-weight: 500;margin: 10px 0;}
				img{height: 200px;width: 350px; transition: all 1.5s ease;overflow: hidden;}
			}
			>div:hover img{transform: scale(1.2);}
		}
	}
}

// team
.team{text-align: center; margin: 60px 30px;
	p{padding: 10px 25%;}
	>div{display: flex;
	img{width: 400px;}}
}

// clients
.client{text-align: center; margin: 60px 30px;
	p{padding: 10px 25%;}
	>div{margin: 30px 60px;
		img{height: 90px;}
	}
	
}

// contact
.contact{
	.contact-inner{display: flex;padding: 0 30px;
		.contact-img{
			img{width: 700px;vertical-align: bottom;}}
		.contact-details{@include flexcolumn();justify-content: space-evenly;background: black;width: 700px;text-align: center;
			>div{line-height: 1.6;
				h5{color: $colorwhite;}
				p{color: $colorgrey;}
			}}}}

// form
.form{@include flexcolumn();margin: 60px 0;
	>div{line-height: 1.5;margin: 20px 0;
		input{padding: 6px 2px;}
		>div:nth-of-type(2){
			input{width: 100%;}}
			a{color: white;background-color: orange;padding: 12px 110px;
			   &:hover{color: $colorblack;text-decoration: none;}}
	}}


















// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
	h1{font-size: 45px;}
	p {font-size: 13px;}
	// nav
	nav{background: orange;height: 12vh;}
	nav >div{margin: 25px 5px;
		> div:first-child img {height: 40px;}
		> div:last-child a {margin: 0 10px;}}
	//billboard 
	.billboard > div {top: 65%;left: 10%;transform: translate(-5%, -50%);}
	// contact
	.contact .contact-inner {display: flex;flex-direction: column; padding: 0 ;
		.contact-img{
			img{width: 374px;}} 
		.contact-details{width: 374px;
			>div{padding:25px 0;}}}
	//footer
	footer {margin: 0;
	   > div{padding: 30px 0;
		.icons a {font-size: 15px;margin: 6px;}
		.address {flex-direction: column;
			.detail {margin: 35px 0;}}
			.copyright { margin: 0;
				p{padding: 0 10px;}}}}
   //gallery
   .gallery > div .gallery-inner-one {height: 250px;width: 370px;}
   .team p {padding: 10px 0%;}
   .client p {padding: 10px 0%;}
   .client > div {margin: 15px 0;}
   .premium { top: 24%; left: 67%;}
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {}
// Large devices (desktops, 992px and up)


@media (min-width: 992px) and (max-width: 1199px) { 
 h2 {font-size: 45px;}
.billboard > div h1 {margin-bottom: 20px;font-size: 60px;}
.premium {left: 88%;}
.gallery > div .gallery-inner-one {width: 328px;}
.team p {padding: 10px 25% 40px;}
.container .row > div > div img {margin-bottom: 20px;}
.owl-carousel .owl-item img {width: 90%;}
.client > div img {height: 70px;}
.contact .contact-inner .contact-img img {width: 485px;}
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }