/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 80px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-size: 50px;
}

body {
  font-family: "Lato-xthin";
}

nav {
  height: 10vh;
}

nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 30px;
}

nav > div > div:first-child img {
  height: 60px;
}

nav > div > div:last-child a {
  color: rgba(0, 0, 0, 0.925);
  margin: 0 15px;
}

nav > div > div:last-child a:hover {
  color: red;
  text-decoration: none;
}

.billboard {
  height: 45vh;
  position: relative;
}

.billboard > div {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  text-align: center;
}

.billboard > div h1 {
  margin-bottom: 15px;
}

.premium {
  position: absolute;
  top: 15%;
  left: 91%;
  position: fixed;
  z-index: 10;
}

.gallery > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery > div .gallery-inner-one {
  position: relative;
  height: 270px;
  width: 280px;
}

.gallery > div .gallery-inner-one img {
  height: 100%;
  width: 100%;
}

.gallery > div .gallery-inner-one .over-lay {
  width: 100%;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  background: black;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.gallery > div .gallery-inner-one .over-lay h1 {
  font-size: 20px;
}

.gallery > div .gallery-inner-one:hover .over-lay {
  opacity: .7;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  top: 0;
}

.gallery > div img {
  height: 270px;
  width: 280px;
}

footer {
  background: rgba(0, 0, 0, 0.925);
  margin: 0 20px;
  text-align: center;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

footer > div .icons a {
  color: #999797;
  font-size: 20px;
  margin: 15px;
}

footer > div .icons a:hover {
  text-decoration: none;
  color: red;
}

footer > div .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #999797;
  margin: 30px;
}

footer > div .address h5 {
  color: white;
  font-size: 20px;
  margin: 10px;
}

footer > div .address p {
  line-height: 1.5;
}

footer > div .address .detail {
  margin: 0 120px;
}

footer > div .copyright {
  color: #999797;
  line-height: 1.3;
  margin: 30px;
}

.container .row > div > div {
  margin-bottom: 15px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.container .row > div > div h5 {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0;
}

.container .row > div > div img {
  height: 200px;
  width: 350px;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  overflow: hidden;
}

.container .row > div > div:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.team {
  text-align: center;
  margin: 60px 30px;
}

.team p {
  padding: 10px 25%;
}

.team > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team > div img {
  width: 400px;
}

.client {
  text-align: center;
  margin: 60px 30px;
}

.client p {
  padding: 10px 25%;
}

.client > div {
  margin: 30px 60px;
}

.client > div img {
  height: 90px;
}

.contact .contact-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
}

.contact .contact-inner .contact-img img {
  width: 700px;
  vertical-align: bottom;
}

.contact .contact-inner .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: black;
  width: 700px;
  text-align: center;
}

.contact .contact-inner .contact-details > div {
  line-height: 1.6;
}

.contact .contact-inner .contact-details > div h5 {
  color: white;
}

.contact .contact-inner .contact-details > div p {
  color: #999797;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0;
}

.form > div {
  line-height: 1.5;
  margin: 20px 0;
}

.form > div input {
  padding: 6px 2px;
}

.form > div > div:nth-of-type(2) input {
  width: 100%;
}

.form > div a {
  color: white;
  background-color: orange;
  padding: 12px 110px;
}

.form > div a:hover {
  color: rgba(0, 0, 0, 0.925);
  text-decoration: none;
}

@media (max-width: 575px) and (max-width: 690px){
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 13px;
  }
  nav {
    background: orange;
    height: 12vh;
  }
  nav > div {
    margin: 25px 5px;
  }
  nav > div > div:first-child img {
    height: 40px;
  }
  nav > div > div:last-child a {
    margin: 0 10px;
  }
  .billboard > div {
    top: 65%;
    left: 10%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
  }
  .contact .contact-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .contact .contact-inner .contact-img img {
    width: 374px;
  }
  .contact .contact-inner .contact-details {
    width: 374px;
  }
  .contact .contact-inner .contact-details > div {
    padding: 25px 0;
  }
  footer {
    margin: 0;
  }
  footer > div {
    padding: 30px 0;
  }
  footer > div .icons a {
    font-size: 15px;
    margin: 6px;
  }
  footer > div .address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer > div .address .detail {
    margin: 35px 0;
  }
  footer > div .copyright {
    margin: 0;
  }
  footer > div .copyright p {
    padding: 0 10px;
  }
  .gallery > div .gallery-inner-one {
    height: 250px;
    width: 370px;
  }
  .team p {
    padding: 10px 0%;
  }
  .client p {
    padding: 10px 0%;
  }
  .client > div {
    margin: 15px 0;
  }
  .premium {
    top: 24%;
    left: 67%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    font-size: 45px;
  }
  .billboard > div h1 {
    margin-bottom: 20px;
    font-size: 60px;
  }
  .premium {
    left: 88%;
  }
  .gallery > div .gallery-inner-one {
    width: 328px;
  }
  .team p {
    padding: 10px 25% 40px;
  }
  .container .row > div > div img {
    margin-bottom: 20px;
  }
  .owl-carousel .owl-item img {
    width: 90%;
  }
  .client > div img {
    height: 70px;
  }
  .contact .contact-inner .contact-img img {
    width: 485px;
  }
}
/*# sourceMappingURL=style.css.map */